<settings>
  <id>SettingsInfoImpl-43000ab6:14b33decb24:-756e</id>
  <workspace>
    <id>WorkspaceInfoImpl-43000ab6:14b33decb24:-7ffd</id>
    <name>RLS</name>
  </workspace>
  <contact>
    <id>contact</id>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>4</numDecimals>
  <proxyBaseUrl>http://geoserver-rls.imas.utas.edu.au/geoserver</proxyBaseUrl>
  <verbose>true</verbose>
  <verboseExceptions>false</verboseExceptions>
  <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
</settings>